* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: aliceblue;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px;
}

h1 {
  text-align: center;
  margin: 10px 0;
  font-size: 28px;
  font-weight: 700;
}

form {
  width: 100%;
}

input {
  padding: 12px 16px;
  border: 1px solid teal;
  outline-color: teal;
  border-radius: 4px;
  height: 40px;
}

button {
  height: 40px;
  color: #fff;
  background-color: teal;
  padding: 12px 18px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: all 0.25s ease 0s;
}

button:hover {
  background-color: rgba(0, 128, 128, 0.794);
}

textarea {
  padding: 12px 16px;
  border: 1px solid teal;
  outline-color: teal;
  border-radius: 4px;
  height: 80px;
  display: block;
  width: 100%;
  resize: vertical;
  margin-bottom: 10px;
}

.form span {
  color: red;
  font-size: 11px;
}
.form__row {
  display: flex;
  margin-bottom: 15px;
}
.form__name {
  flex: 1 1 auto;
  margin-right: 10px;
  position: relative;
}
.form__name input {
  width: 100%;
}
.form__name span {
  display: none;
  position: absolute;
  bottom: -13px;
  left: 10px;
}
.form__date {
  position: relative;
}
.form__date input {
  width: 100%;
}
.form__date span {
  display: none;
  position: absolute;
  bottom: -13px;
  left: 10px;
}
.form__text {
  margin-bottom: 15px;
  position: relative;
}
.form__text textarea {
  width: 100%;
}
.form__text span {
  display: none;
  position: absolute;
  bottom: -13px;
  left: 10px;
}

.comments__body {
  margin-top: 30px;
}

.comment__body {
  margin-bottom: 15px;
}
.comment__top {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  border-bottom: 1px dotted teal;
}
.comment__name {
  font-weight: 700;
}
.comment__date {
  font-size: 13px;
  color: grey;
}
.comment__text {
  padding: 10px;
  background-color: #fff;
  line-height: 120%;
}
.comment__actions {
  padding: 6px 10px;
  min-height: 30px;
  border-radius: 0px 0px 8px 8px;
  border-top: 1px dotted teal;
  display: flex;
  justify-content: space-between;
}
.comment__delete {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.comment__like {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.liked {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(-40deg) brightness(118%) contrast(119%);
}

.error input, .error textarea {
  border: 1px solid rgb(249, 94, 94);
  outline-color: rgb(249, 94, 94);
}

.error span {
  display: inline;
}